{%extends "meetuos/base/base.html"%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {%block title%}My page{%endblock%}
        
    {%block site_css%}
        <link rel="stylesheet" href={% static "/meetuos/style.css" %} />
        <link rel="stylesheet" href={% static "/meetuos/meetuos.css" %} />
    {%endblock%}
    
    {%block main_heading%}
        We got great meetups comming up
    {%endblock%}
    {%block header_content%}
        <p>Find  the one that best suits your needs!</p>
    {%endblock%}

    {%block body%}
        <section>
            <h2>Upcoming meetups</h2>
            <ol>
                {%for item_meetups in meetups%}
                    {%include "meetuos/includes/meetup-item.html" with title=item_meetups.title image=item_meetups.image.url location="New York" slug=item_meetups.slug%}
                {%endfor%}
            </ol>
        </section>
    {%endblock%}
